# ── Serveur ──────────────────────────────────────
PORT=5000
NODE_ENV=development

# ── MongoDB ───────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/community_security_alert

# ── JWT ───────────────────────────────────────────
JWT_SECRET=votre_secret_jwt_tres_long_et_securise_ici
JWT_EXPIRE=7d

# ── Upload ────────────────────────────────────────
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads/incidents

# ── Frontend URL (CORS) ───────────────────────────
CLIENT_URL=http://localhost:3000
